.page-header {
  background-color: $light-grey;
  padding: $l-size 0;
  margin-bottom: $l-size;
}

.page-header__title {
  margin: 0;
  font-weight: 300;
}

.page-header__title span {
  font-weight: bold;
}

.page_header__actions {
  margin-top: $m-size;
}
