// It defines the theme of our app

// Colors

// Spacing
$s-size: 1.2rem; // Small Size
$m-size: 1.6rem; // Medium Size
$l-size: 3.2rem; // Large Size
$xl-size: 4.8rem; // Extra Large Size

// Breakpoints
$desktop-breakpoint: 45rem;
